html {
font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
  font-family: "Josefin Sans" , serif;
  text-align: center;
  text-shadow: 2px 2px 5px grey;
  font-size: 2em;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.blue {
  color: skyblue;
  text-align: center;
}
.pink {
  color: rgb(255, 192, 203);
  text-align: center;
}
p {
  text-align: center;
#basic .text-bold {
    font-weight: bold;
}
}
